block letter
  .row-fluid.paragraph
    .span12
      :markdown
        Hi there !

        Here I am for another newsletter.
        Quite close from the previous one I know, mostly because I was late, but also because today is a milestone in my trip, and I think it makes more sense to keep you up to date as things happen rather than waiting actual months.

        Today, is my last night at Tiffany's. The end of an era. It was the first time I was sharing a flat with a lady, and it was quite an interesting experience.

        I always believed that living with a female is motivational for guys to clean after themselves. However, at Tiffany's, being clean isn't enough. To conform to the rules of the house, you must not leave a single hint of you living there. That, can be summed up in a simple, innocent phrase, "Just leave things like you found them".

         I guess the rational behind her thoughts was that functional isn't pretty. For instance, all the bathroom stuff is hidden, and there is no bin in the common areas. Obviously, bins are ugly. The end of the toilet paper is fold in a triangle, like in a Hotel, to make it prettier. My favorite rules, the ones I was always forgetting, were "don't live the sponge in the sink" and "push the chair back to the table". At anytime, if I would forget something, like a hair in the shower or shutting down the toilet seat, she would send me a written expression of her disappointment through a text message.

        Open minded, I can live with that. She introduced herself as a cleaning freak, I knew what to expect. She is the landlord and I kneel under her rules after all. But some of them were quite hard to deal with. She didn't want me to have any guest. Well, fair enough, I don't have much friend here anyway. But when Camille came a weekend to Melbourne for her birthday, she wasn't allowed to sleep here. No way. We had to book a youth hostel, and at that time, I found it especially unfair as she granted herself the right to invite a new guy every day of the week to cuddle and watch TV with, who would stay overnight. There was so many of them, she was barely remembering their names.

        When she started interviewing some people for taking my room after me, there was some quirky times too. She was cleaning it and doing my bed every now and then. Although convenient sometimes, overall I found it quite intrusive. On top of that, whenever a potential candidate was visiting my room, she didn't want me to be there. She was explicitly asking me to leave and wander around for an hour or two. Weird.

        I would have preferred leaving on Wednesday rather than tomorrow, but she would have made me pay for another week. She can't arrange to move someone in on a weekday apparently.

        Aside from all that, we were still able to communicate and my stay here wasn't all negative.

        The reason I'm living, is for my coming three weeks holidays in Japan. Might have told you already, might not. Can't remember. We booked the flight tickets in January for May, and since then, we've both been wondering if we would be able to make it or not. As it turns out, yes we can.

        I'm actually really proud of these holidays, because I had to fight for them. I told my boss right at the beginning that I booked these flight tickets, and until last month, we didn't really talk about it. When I came back to it, he had to talk with the other founder to see how they could sort this out.

        They came back saying :
        - Look Jacques, we're really happy that you're taking some holidays, we think it's important. [...] but three weeks is a shitload amount of time, would there be a way to move your plane ticket to shorten that a bit ?
        - No. Cheap ticket, can't move.
        - Ok, we have to discuss some more we'll come back with another proposal. We're really happy you're taking some holidays [...]

        Few days after, during a team meal :
        - Look Jacques, we're really happy that you're taking some holidays, we think it's important. [...] but three weeks is a shitload amount of time, so we would like you to work few hours meanwhile, say, 18h a week ?

        I tried to explain them what was the life of a backpacker, that I was planning to move a lot during this trip and that I wasn't expecting a tremendous amount of internet. Luckily, my technical leader was there and took my side, saying that it wouldn't work out. We discussed just the two of us later on, and we both found the offer pretty uncalled-for.

        What we proposed however, was to work some extra hours before my departure. They didn't really have the choice and therefore accepted. Within four weeks, I once worked during a day off, and four times late until 22:30. Tiffany was supporting me when I was coming back.

        On the travelling side, this month I went to French Island and we rented some bike to travel around. We had a good time but the scenery wasn't outstanding, and the whole thing was quite expensive.

        Last week, I flew to Adelaide and we rented a car for three days to go camping at Flinders Ranges. In terms of scenery, much better: it was beautiful up there and it was really worth the 1200km I have been driving.
        We did have some trouble with the car rental though. Well, I should actually say, car rentals.

        I booked an inexpensive car by what I thought was a family owned business online. The website was so bad, booking didn't require any credit card details. Their cars, however, were limited by 200km a day, and 0.2 cents per any extra km. Even knowing the 600km extra we would do, they were still the cheapest.

        As an honest kind-of-person, I tried to contact them by e-mail telling them what our plans were. I knew it was quite likely that they wouldn't like it and call off the offer, but they didn't reply. Camille called them eventually, and asked them if the seats of the car were foldable as we were planning to sleep inside it (once we rented a big Toyota sedan, the seats weren't foldable and I had to sleep on the driver seat while she was laying on the back seats).

        He said yes they were, but no, he doesn't want us to sleep inside the car. Fair enough, we knew we could borrow a tent anyway.

        When the guy shown up at the airport, he was pissed. Apparently he had been touring two times around the car park and didn't stop for me because he was expecting three people. I said no, I am alone and this is a misunderstanding. And then he started :

        - Ah, you are the guy who wants to drive to Flinders Ranges. You can't sleep in the car.
        - Fine, my friend's got a tent we'll go camping.
        - Your friend ? you said you were alone. First you are three, after you're one and now you're two. I don't like that.
        - Look,..
        - When do you plan to come back from Flinders Ranges ?
        - Sunday night I guess
        - No. You can't drive by night. Kangaroos. You're French you don't know.
        - I've been renting heaps of cars here and..
        - No dirt roads.
        - Ok..
        - This car isn't going to Flinders Ranges. I can rent you a camper van.
        - Why's that ? I told you we won't sleep in the car
        - I don't believe you
        - ... How much for a camper van ?
        - $120 a day

        Didn't take it. I found it a pretty rough welcome to Adelaide. He left, I went back inside the airport and rented a car with Budget, a rather big company here.

        With them, I was even able to give the car back a 5am at the airport on Monday just before my flight and dropped the key in the box. That day, I woke up at 3am and took the plane to go to work at 9am. Memorable.
        Everything went fine, until yesterday when I found out that they took an extra $80 from my bank account on top of what I paid for the car.

        I'm still sorting this out, I'd keep you updated !
        For now, it is time for packing and planning my next adventure in Japan !

        The next newsletter will probably be dedicated to it, I can predict that.

        Hope y'all doing good,

        Jacques KAISER