extends monthLayout

block video
  video(width='100%',controls)
    source(src='/img/1SE/My Life_Jun 10 2014.mp4', type='video/mp4')


block letter
  .row-fluid.paragraph
    .span12
      :markdown
        Hi guys

        Here we are, this is already my last newsletter as I'm now back in France since a couple of days.

        As I mentioned last month, August was purely dedicated to traveling. Along with Camille, we rented a van for 30 days in order to explore the West Coast of Australia, driving from Perth to Darwin - we planned it to be a 5000km trip, but we (well, I) ended up driving 8753km, close to the distance between Paris and Los Angeles.

        As opposed to the East Coast that has got many towns and resorts, the West Coast although rich in scenery remains rather untouched and less touristic. There are so few vehicles on the highway - a one line road - that it is common courtesy for drivers to greet each other. Also, the distance between two towns being so huge, the only people using the highway are either miners, trucks or holidayers. If you come to drive on that road, be sure to fill your fuel tank at every stations as they are often separated by 300km from one to the other, quite challenging for our 40L, highly consumptive van.

        It is well worth it though, not only the road is beautiful, we also came to see heaps of stuff on that trip, more than I thought we would initially. The views were expansive: gorges, mountains, a coral reef, coastal cliffs, beaches, shell beaches, a meteorite crater, deserts, pinnacles, termite mounds, sacred sites with rock paintings, rock pools, hot springs, mines, funny rock formations,... The West Coast do is amazing.

        Almost all the national parks on the West Coast were sacred sites, that is, are deeply linked with the local aboriginal culture that has been around for a long, long time. Scientists still aren't quite sure since when aboriginal settled in through Australia, but some rock paintings and early age tools have been dated to be around 40 000 years old. Equivalent technologies/tools appeared in Europe only 10 000 years ago.

        Aboriginal culture is the oldest continuous culture on earth, and the way they have maintained it is remarkable. The last generation would pass knowledge to the new generation exclusively by telling abstract stories, illustrated by paintings on rock walls, inspired by animals or rock formations, that happened during what they refer to as the "dreaming time". In general, these stories would be a way to learn how to hunt or behave. They didn't have writing, and therefore no way to document and archive their knowledge.

        In Kakadu, the largest national park of Australia that is co-managed by several aboriginal communities, we had the opportunity to sit and listen to an aboriginal ranger telling us the stories related to some rock paintings, that were thousands and thousands years old, where his ancestor used to live. Such an amazing piece of oral encyclopedia.

        As you might have guessed, they are really close to their land, which is unfortunate for mining companies. Indeed, most of their sacred sites would often be formed of gold, platinum, iron, uranium or other extremely valuable ore. You may not know that, but Australia is vast and incredibly rich in rare ore - mining is a big thing down under, it ranks number one Australian's economy. However, since a decade or so, aboriginal people legally recovered their rights of traditional owners on their lands and can protect it. See, they are still using some of these sacred sites to perform old rituals.

        Interestingly, mining companies are in charge of rehabilitating used sites at the end of their lease. For instance, the rather popular Fraser Island on the East Coast is nothing but a rehabilitated sand mine, so they are actually good at it. Of note too, in aboriginal beliefs, if you come to disturb a sacred site, it will destroy with the same power it created. An example of this, the Fukushima nuclear disaster happened while the central was consuming uranium from a mine in Kakadu, an obviously disturbed sacred site.

        On top of cool places, we have witnessed some peculiar events too. A serious concern, common natural disaster down there, is bush fires. They practice controlled burn in order to clean and prevent massive ones, but we did see quite a few natural ones. Once when we set up at night close to Lake Argyle, cooked and chilled in our van. When I went to pee outside, I noticed quite a few campers having their own fireplaces around 300m from us. Giving it some thoughts, I didn't recall seeing any campsites nearby on the map. Freaking out, we decided to set up elsewhere - we drove through the fire, and then drove back all the way when we found out about the second, bigger one behind it.

        This was unfortunate, we were instead trying to limit the number of night drives as our van wasn't insured for it - kangaroos. Indeed, they come out at sunset, stare at the road and more often than not game a wild crossing. Depending on where you are there could be a lot of them - the worse was at the Ningaloo reef national park where the density was around 20 kangaroos/km, no kidding.

        Australia's wildlife is like no other. When you cross the border between Western Australia and the Northern territory, on top of the 1h30 time decay, the fruits and vegetables quarantines and the eagles becoming a standard, is the apparition of crocodile's warning signs. There are a lot of national parks out there that have got beautiful natural pools, and every year at the end of the wet season, rangers are in charge of removing all saltwater crocodiles from popular pools such that it is safe for tourist to swim. Huge responsibility.

        Litchfield national park offers lot of pools, among them, the popular Wangy Falls - an expansive place with two magnificent waterfalls. To us it looked a little too much like a public swimming pool as it was crowded with kids thanks to the easy access, but beautiful still. Interestingly, we found out that, exactly one day after we were swimming there and around the same time, a Russian tourist has been attacked by a crocodile and they had to close the pool. It turned out to be a small freshwater crocodile and minor injuries, but still we were thrilled.

        Of note also, when doing some snorkeling at Ningaloo's reef, Camille got stung by a tiny jellyfish on her chest. What a genuine Australian experience.

        This last month in Australia was surely the best, I'm glad it finished this way. We lived many more adventures during that trip, but I didn't want to overwhelm you for that last newsletter. From Darwin, I took a plane to Singapore where I stayed two days, and then flew off back to France with Malaysia airlines - I thought if I could survive Australia I could survive them too.

        The whole trip lasted 10 and a half month, during which I spammed you with 11 newsletters. I hope you enjoyed the read, it was a pleasure to write anyway.

        Looking forward to meet up again soon,

        Jacques