extends monthLayout

block video
  iframe(width="100%", height="315", src="//www.youtube.com/embed/12qxuggIHak", frameborder="0", allowfullscreen)

block letter
  .row-fluid.paragraph
    .span12
      :markdown
        Hay

        I'll be in trouble to write this month newsletter as not much really happened.. but let's give it a go!

        In my previous e-mail, I stated that this month would be either traveling or working. I was wrong, probably too optimistic.

        But let's resume at the beginning, shall we. When I was in Fish Creek for my last woofing, I had been contacted by a recruiter; we talked through skype, and since, he was trying to get me an interview for a node.js position in a company. After a couple a weeks, he finally managed to get me one.

        We scheduled it for the next Friday at 8am - which turned out to be my birthday too. To be honest I didn't realize when I accepted it. I knew it was coming soon, but when you don't have much friend and no family around you to mention it, then, well, you just forget.

        It is a bit of an uncanny way to start a new year of a life, but all good, I had no intention to reschedule. Instead, let's consider it as a grown-up gift, an opportunity to get a job.

        So I shown up there. The company was manufacturing recording hardware (video camera and stuff) as well as developing the related embedded softwares. All their walls were covered with movie's poster for which they contributed with their cameras, that was pretty impressive. Eventually, they needed a better website as the one they currently had was made with a CMS and not supporting the load of users whenever they were announcing a new product.

        The interview went pretty good, they asked me technical questions and I was able to answer most of them, showing proficiency with new technologies and understanding of what was going on. It lasted around 45min and I left with a good impression. During the weekend, the recruiter and me exchanged several phone calls: he was the interface between me and the company, and was convinced that I did so well that we were already discussing contract details, such as income, superannuation, and that kind of thing. We were just waiting for the final confirmation from that company, which instead turned the offer down because I was too much of a junior, whereas they were rather looking for a senior.

        This experience more or less sums up all my attempts at getting a job here so far, even though I can get people to like me very much, I can't get them to propose me a job. This is mostly due to the Working Holiday Visa I suppose, which comes with few constraints, that are:

        - It is not possible to work for the same employer for more than 6 months, unless he sponsors you;
        - To get sponsored, the income has to be higher than 55k$/year and the company has to prove that the candidate had skills that no other Australians applicants had.

        In the first place, I thought these were not so bad. I wasn't intending to get sponsored anyway, I just wanted a job for few months, get some money/experience and keep on traveling.
        But here is the thing: if you come there with not much experiences, companies don't want you to work for just few months, because, lacking experience, you aren't profitable in such a small period. Therefore, they would rather consider hiring you for long term and sponsor you, but again, unless you're a crack, they would rather go for an Australian since it is more likely that he will stay here for a couple of years.

        Eventually, that company proposed me some other jobs, because they did really like me, but none of them were matching my skills.

        This happened quite early this month, and I was quite eager to move on and travel, but I came across another company right after, Shwish. This is an early stage startup of a handful of people, developing an online gifting platform. When reviewing applicants, my resumé stood out, showing off a lot of energy and determination. They sent me a technical programming test that I completed within few hours, although, the founders being not technical, they had to hire a senior developer to review it and it took them around three weeks.

        What on earth have I been doing all this time? Well, following is a description of an average day.

        - *9.00* - Wake up, and take breakfast in Melbourne International Backpacker, a cheap youth hostel in the CBD which has been my base camp all this month.
        - *10.00* - Head off to the State Library to take advantage of the free Wi-Fi. There, I would read articles, inquire for jobs, teach myself new technologies. Complete geeking. Also, I developed a small web app, live at [air-car-and-car.tk](http://air-car-and-car.tk)
        - *17.00* - Head back to the youth hostel and take lunch - a peanut butter and jam sandwich I cooked with the ingredients from the offered breakfast.

        On the evening, a normal day I would go to my Dutch friend's flat and we would cook diner together. Around two times a week, I would instead go to free a conference about web technologies. That was it, this month I spent most of my time alone in the library, keeping my expenses low while inquiring for jobs.

        There was some relief though, all the friends we made during the woofing at Fish Creek have been passing through Melbourne and we had a good time together. Moreover, during a raffle at a Japanese festival, I won a 300$ worth Yamaha headphones.

        So, back to that startup. Satisfied with my skills, I had an interview on week three and a pair programming test on week four. Everything went good again, though I was moderating my excitement this time. The day after the pair programming, the CEO called saying that he was delighted, it was fully positive. Right now, by the time I am writing this line, they are discussing their budget to guess if they could fit me in (there are two co-founders and they have no investors yet). However, he mentioned that he was seeing it as a career opportunity, that they would like to hire me for long term, with sponsoring and stuff - which obviously is not what I want.

        When they will get back in touch with me, whatever is their answer concerning their budget, we will have to discuss whether a short-term contract, or an intern for a couple of month with low income would suit.

        I guess any long trip has its upsides and downsides. This month was a downside, but better keep my head up because the best is to come.

        Kind Regards,

        Jacques

        ---------------------

  .row-fluid.paragraph
    .span12
      :markdown
        Forget everything I said, Shwish just called and I got the job with a 3 months contract.

        That's awesome.