extends monthLayout

block video
  video(width='100%',controls)
    source(src='/img/1SE/My Life_Dec 26 2013 - Jan 27 2014.mp4', type='video/mp4')

block letter
  .row-fluid.paragraph
    .span12
      :markdown
        Hi there, best wishes for 2014 !

        The New Years Eve at Melbourne wasn't that exciting; the firework was short and boring, it was forbidden to drink alcohol in the street (even champagne), and the party was planned by the council to end at 1:00 am. I hope you had a better one!

        Since the last newsletter, I now upload the stories to my website, format them and add some exclusive pictures and videos. Go take a look, it's live at [jacqueskaiser.com/australia](http://jacqueskaiser.com/australia) !

        It turns out that this month was a traveling month again, within the boundaries of the state of Victoria (we decided not to go to far away from Melbourne in case a recruiter would get in touch).

        Our first stop was the Grampians, one of the many national park that Australia abounds, only 50L of fuel away from Melbourne. We selected this one, as it was quite different from those we went to in Tasmania: a bumpy mountain chain instead of outstanding beach overlooks. We stayed there for two days an enjoyed hiking. You have plenty of roads to choose from, and it may take a week or two if you wanted to go through all, therefore you better off planning which one interest you the most.

  .row-fluid.paragraph
    .span8
      .row-fluid.paragraph
        .span12
          a(href='/img/australia/gramp0.jpg')
            img.img-polaroid(src='/img/australia/gramp0Small.jpg')
    .span4
      :markdown

        We went to a dozen of them, that we thought were rather easy and familial, until the walk to the Hollow Mountain. It was a fairly short walk in terms of distance, only a few kilometers, but you understand why it is signed to last for an hour an half once you're on the middle of it.<br/>


      // .row-fluid
      //   .span4
      //     a(href='/img/australia/gramp1.jpg')
      //       img.img-polaroid(src='/img/australia/gramp1.jpg')
      //   .span4
      //     a(href='/img/australia/gramp2.jpg')
      //       img.img-polaroid(src='/img/australia/gramp2.jpg')


  .row-fluid.paragraph
    .span6
      :markdown
        The dirt road to access the beginning of the walk was sort of a hint actually. Not only it was a 4-wheel drive way, it was a 4-wheel hike too ! In between walking and climbing, it requires to be rather fit to enjoy the goodies of Hollow Mountain. You don't want to be afraid of heights either - from time to time, you are on a narrow path on the edge of the mountain, or on a pretty steep slope leading directly to instant death if you slip. Moreover, when you reach the top part of the mountain, the wind is so strong that it could just blow you away if you were wearing too loose cloths.<br/>
        It was worth it though, the view from the pinnacle is simply amazing, especially when you are still full of adrenaline as you just completed it and you're still alive. Then, you need to go down with the same path (most of the walks aren't circuit). I was quite surprised how difficult it was to find our way back despite we just went up few minutes ago.

    .span5
      a(href='/img/australia/gramp3.jpg')
        img.img-polaroid(src='/img/australia/gramp3Small.jpg')

  .row-fluid.paragraph
    .span12
      :markdown

        During these few days, we haven't seen a single snake although the place was famous to be snake infested. However, there were a lot of Roos (Kangoroos, Australians love shortcuts) going out at dusk, and we even spotted a Kidna once. Moreover, we have been quite lucky with the weather, as few weeks after our stay the place have been completely evacuated due to bush fires - a real concern in Australia, most of their forest being full of gum trees, themselves filled with flammable eucalyptus oil. These trees tend to blow up during bush fires and cast fireballs, that speeds the spreading of the fire.

        After this trip, we stayed few days at a friend's place (it is so valuable to have such friends when you travel, thanks Tom =D ) and headed off to Wangaratta for our next woofing. Funny town name, isn't it ? Wangaratta. Close to Benalla, and Wagga Wagga. It is actually quite historic that a bunch of small towns in the bush still have their aboriginal names: when the first rich aristocrats came to Australia after the convicts, they tried to rename these towns after them. However, everybody was already using the aboriginal names therefore it didn't flourish. They tried to rename Canberra too when it has been selected to be the capital of Australia, but it remained Canberra for the same reason. Some towns have rather English or French name however, named after explorers. Funny fact, the Simpson desert, which is the 4th biggest Australian desert, and the world largest sand dune desert, is named after Mr Simpson, the owner of the Simpson washing machine company.


  .row-fluid.paragraph
    .span3
      a(href='/img/australia/bruno1.jpg')
        img.img-polaroid(src='/img/australia/bruno1Small.jpg')
      // a(href='/img/australia/bruno2.jpg')
      //   img.img-polaroid(src='/img/australia/bruno2.jpg')
      // .row-fluid
      //   .span12

    .span8
      :markdown


        So, during this woofing, we met David, owner of Mt Bruno. He lives in a modest on stilts house he recently bought and is a passionate musician. Our week there was quite relaxing except for the work which was a bit strenuous - we had to dig the earth under the stilts and sort the rocks by size in order to build a stone-wall basement for its future recording studio. Beside that, we were enjoying ourselves on the deck during the afternoon, and jamming with him during the night, as he was landing us some bongos. These were my first jams and it was a lot of fun.

  .row-fluid.paragraph
    .span9
      :markdown
        As most of the host we have been to, and I believe is common to people living in the bush, he collects rain water into big water tanks that we drink directly. The pump broke down for few days during the middle of our stay, and we have experienced how it is to live without running water - showering with buckets, flushing the toilets once a day, ... it was all good !

        We didn't know how much time we would stay there beforehand, but a heat wave was forecast for the week after, so bad that we couldn't have worked outside. Therefore, we retired to its parents house in Benalla and enjoyed the swimming pool for one day before we found a backup plan. Instead of going back to Melbourne straight away, we gave a shot at finding new host for the day after. After the first phone call, it was sorted out that we would travel to Fish Creek in order to meet Mary and Peter, at the head of an organic farm, trying to be self sufficient.

    .span2
      a(href='/img/australia/bruno2.jpg')
        img.img-polaroid(src='/img/australia/bruno2Small.jpg')



  .row-fluid.paragraph
    .span12
      :markdown

        Because we were a bit in a hurry, we didn't really pay attention to the host we were calling and therefore we didn't really have any expectations. Needless to say, it was an amazing surprise when we arrived there around 21:00, that they were living in an rehabilitated church and the dinner was on the table with red wine as they had been waiting for us. Throughout the week, they hosted 4 other woofers aside from us, two French and two Americans, and we got along very well altogether. Mary and Peter were doing their maximum for us to enjoy our stay; on the first day they drove us to a magnificent beach of the Wilson Promontory national park to enjoy the sunset eating hot dogs. Because they were living quite close to the national park, we went back there few more times to hike with the other woofers, and we spotted our firsts wombats.


  .row-fluid.paragraph
    .span10.offset1
      a(href='/img/australia/fish0.jpg')
        img.img-polaroid(src='/img/australia/fish0Small.jpg')

  .row-fluid.paragraph
    .span12
      :markdown
        My time there was incredible and it directly ranks to the top of my best memories of my trip so far. Unfortunately I had to leave after just a week, since I had to join a node.js speech on the 23rd of January in order to meet the lead developer of a company, such that we could talk about my potential position there.

        The speech was great and insightful, although I still wonder if I'll get this position. If I don't manage to get hired on the beginning on February, I might buy a car and focus on my trip doing some more woofing. It doesn't really matter if I get a job or not because I would always be able to get back to France and find something, but it would be nice to gain some experience.

  .row-fluid.paragraph
    .span3
      a(href='/img/australia/ausday1.jpg')
        img.img-polaroid(src='/img/australia/ausday1Small.jpg')

    .span6
      :markdown
        On the 26th of January, we were celebrating Australian Day in Melbourne which was much funnier than New Years Eve as events were going on during the whole day. We went to the parade, with a lot of unexpected communities (such as the dwarfs of Victoria or the Dr Who costume group) followed by an acrobatic air force show and a firework in the evening, much better than the one we had for NYE.

    .span3
      a(href='/img/australia/ausday2.jpg')
        img.img-polaroid(src='/img/australia/ausday2Small.jpg')


  .row-fluid.paragraph
    .span12
      :markdown

        I can tell that the coming week won't be of the funniest, as I might spent my time at the library doing some e-mailing and job inquiries, but passed this time I might either get a position somewhere or go on a road trip. I am looking forward to any of these.

        You'll hear from me next month again,<br/>
        Jacques
