extends monthLayout

block video
  iframe(width="100%", height="315", src="//www.youtube.com/embed/mOt-1kDdGwU", frameborder="0")


block letter
  .row-fluid.paragraph
    .span12
      :markdown
        Hi guys

        I'm writing this newsletter from an Hostel in Perth, where I just landed straight from Melbourne, ready for the big adventure on wild the West Coast.

        This month, even though I have been working a lot again, I went to a couple of places I wouldn't have had the chance to go to anymore, but were on my list when I came to Australia on day one. I used to refer to these places as "I can't come back to France and tell people I haven't been there".

        Therefore, on the weekend of the 11th of July, I was off to Sydney to visit a friend, and of course, to compare it to Melbourne. Indeed, after 10 months in Australia, I still had not seen Sydney whereas it is quite likely the most famous Australian's city, believed to be the capital for all overseas.

        I booked my flight a little late and I ended up flying from the tiniest airport I have never seen, that just operate one company and flies one plane at a time apparently. Despite that, I still managed to loose my hat there and fudge, I was freezing the whole weekend.

        Sydney and Melbourne are the biggest cities in Australia, but they are quite different. Melbourne is renowned for its pubs and lifestyle, whereas Sydney is popular for the Harbor bridge and its Opera. They are quite close to each other, and yes, they are quite interesting pieces of architecture. Close as well, is the old quarter called The Rock which is a nice little place to wander.

        During this weekend, my friend took me surfing as his got his office next to the beach and they have some boards there. It's a really fun sport - if I could start my trip again I would probably try to find a work where I could go surfing during the lunch break too. However, never before, the ocean had been so bad to me, it's actually a much more complicated sport than what it looks, as often with extreme sports.

        I came back in Melbourne at around midnight on Sunday, which made me realize that all the public transports, trams and trains, where shutting down after midnight and I therefore had to take a taxi to home. I found it quite disappointing from such a city as big as Melbourne, especially given the price of the public transport.

        When I finally arrived back in my house, I had a second surprise. There was a dude sleeping in my bed. Well, I didn't see this one coming but I guess it is a bit of my fault as I told my flatmate, who was having its family over this weekend, that they could use my room if they wanted too. Obviously he has been to lazy to note the day on which I was coming back, otherwise he would have anticipated the collision. So at around 1am, we had to wake his brother up and kick him out of my room.

        The next weekend, I went to travel in the outback and I was pretty excited. As the place is quite big and take some time to explore, I had to take two days off at work. Because I was traveling there on my own, I figured out that it would be much nicer and simpler to book a tour that would take care of everything for me and it was a good decision.

        The deal is quite fair, as it includes everything from the first night in a backpacker, airport drop in and drop off, food, accommodation and transport for the whole tour. Because the deal is with a partner backpacker, you meet other people that will go on the tour with you even before it starts, and this is great for meeting mates to visit Alice Spring with.

        Alice Spring is a bit of a weird place, where the white people and the aboriginal don't mix with each other. This is the first time since I am in Australia that locals advised us to take the taxi at night because the streets where unsafe. It's all right for one day but definitely not a place I would like to live in.

        Regardless, we made the most of our single day there as we wandered in the city, went to a few pubs and fed some rock wallabies at dusk. We went back to the hostel at around 20h30, since we would have to wake up at 5am for the start of the tour on the next day. Actually, we would wake up at 5am everyday during the tour but back then we didn't know that.

        So the tour consists of two buses of 21 people, along with one multi skilled tour guide that does driving and cooking for each bus. Quite impressive when you think about it, as they were sometimes doing two tours a week and each tour includes 700km driving.

        Distances in the outback are huge. The highlights of the tour are Kings Canyon, Uluru and the Olgas, and on top of being far from each other they are also far from Alice Spring where the tour starts and ends. We did around three hikes, one in each place, watched a couple of sunsets / sunrises and did some camping but must of the tour was driving. Still had an amazing time!

        The Australian desert is nothing like I expected. For most of it, you walk on normal earth and not sand, where there is also quite a lot of dry vegetation such as bushes and small trees. It could have been around 25° during the day and -5° at night, so a bit cold but nothing too extreme. Some part of it are rather rocky and so is Kings Canyon. These places are actually hard to describe with words so I would instead show you pictures.

        Uluru however, on top of being a geological quirk, has also be the home of an aboriginal tribe that is still in charge of it through a community. It was insightful to listen to our guide telling about aboriginal stories and the meaning of their art. Despite they have the oldest culture on earth, all the knowledge transfer was done either by abstract stories or paintings - they didn't have any form of writing whatsoever.

        At night, we would light a massive campfire and sleep outside in our swags. The simplest way to describe a swag I guess is, it's a sleeping bag for a sleeping bag. You basically put yourself in your sleeping bag as usual, and then you insert the whole lot in this comfy and warm cocoon. What is great with sleeping outside, is that you can watch the stars, and the sky in the outback is the most beautiful I had ever seen. It's so clear, there are heaps of stars and you can see right through to the Milky Way.

        When I got back from the desert, I worked one last week during which we soft launched our web app (so we are now having our first set of users), and I then took the plane to Perth for my West Coast trip which I'm just starting right now.

        I'm writing this newsletter a bit in a rush and I'm not that inspired either, I hope you still enjoy the read.

        G'bye !

        Jacques