extends monthLayout

block video
  video(width='100%',controls)
    source(src='/img/1SE/My Life_Jun 10 2014.mp4', type='video/mp4')


block letter
  .row-fluid.paragraph
    .span12
      :markdown
        Hi guys!

        Before I even start writing, I can tell you that this newsletter will be much shorter than the previous one.

        This month was mostly about work and organisation. On the working side, we were really busy as we decided to get involved in the coming battlefield of Disrupt San Francisco, and the applications' deadline were mid June.

        A complete application form requires a video, including footage of the software, and we therefore had to fix a few bugs and implement some new sexy features quickly.

        Hang on, what's Disrupt San Francisco, you ask ?
        It's a pretty massive event happening every year, described as "one of the most anticipated technology conference". It is hosted in San Francisco, probably the most famous city for IT related stuff.

        The battlefield we want to get involved in is the heart of this event, where 15 startup, chosen out of hundreds, pitch their products live on the Disrupt stage.

        This is no joke, and as a result this month was no joke either - to get the best product as possible, I worked an extra 46h within this month. We have a new workplace that made it quite alright though: it is another co-working space, more specific to tech startup and geeks. My world. On top of it, there is a ping pong table and we played a couple of games every day. Gosh I miss sports.

        Because my work location moved, I moved with it. I'm now definitely done with youth hostels, living in a student house in Richmond, a nice suburb on the edge of the CBD bringing me about 20 minutes walk from work.

        There is just one guy living here with me, and he is just the exact opposite of Tiffany - doesn't clean his dishes, leaves a mess in the living room, never close the doors or turn off the lights, doesn't change the toilet paper roll when it's empty... And that feels good ! Nobody's on my back and the atmosphere is much more relax here.

        Of note also, the house has a funny layout, with the toilets being in the backyard and the bathroom in the kitchen. I think of it as an "Australian design". Moreover, you can easily tell only guys live here: in the whole house there isn't a single table to eat, they usually eat on the sofa playing FIFA.

        When I mentioned this to my roommate he argued that it would take too much space in the empty living room, where the Xbox is. He is a pretty lay back kind of guy and we get along pretty well. Living here saved my Melbourne experience.

        As it is winter down here, backpackers are all going back home. My Dutch friend Tom came in to stay overnight before his flight, and the week after, two french friends Mélanie and Pauline did the same and we all went out to celebrate their last night in Australia. It seems pretty standard stuff but Tiffany would never have allowed that to happen.

        On the organisational side of the month, I did a rather good job too as I booked everything I needed for the rest of my time in Australia.

        Next weekend, I'll therefore be traveling to Sydney (it would have been a shame to skip that). I'll catch up with a friend there and I hope he'll be able to show me around.

        The weekend after, I'm flying to the outback for four days in order to do a tour featuring Uluru, Kings Canyon and Kata Tjuta (?). I'm pretty excited, missing the Australian's desert would have been a pity too.

        One week after I come back from this trip, I'm flying to Perth on the west coast, where we will rent a van with Camille and drive up to Darwin for one entire month. This is really exciting too - most of the backpackers focus on the east coast as this is where all the cities are, but the west coast is more adventurous.

        We will end up the trip in Darwin by the end of August, and on the first of September is my flight to come back home, with a two days step over in Singapore. So yeah, expect me in Vendenheim around the third of September!

        The whole trip has lasted so long, I hardly realized it will end one day.

        Quite accurately, I can predict that I would write two more newsletters to tell you what's going on. Maybe I'll also write a final one concluding all my trip, along with some figures such as "how much did I spend" or "how many bed I slept in". To meditate.

        Hope you guys are enjoying summer.

        Yours, jealously,
        Jacques