block letter
  .row-fluid.paragraph
    .span12
      :markdown
        Hey !

        Here I am, a little late, for the fifth newsletter. When I look back at it, I hardly believe that it has been five months already that I'm here.

        As the previous email finally concluded, I got the job at Shwish, small start up, and am working for them since then. The work is great, it targets exactly the skills in web development I wanted to acquire. On top of that, the team being really small, I'm working hand in hand with the tech leader and learn a lot through him. What is more, we are responsible for managing an offshore team of four people in Cuba, and we work in a dynamic, central co-working space literally 30 seconds away from my flat (the building touch each other).

         Even though I have been working the whole month, it has only been a few weeks that I left the youth hostel. I don't have much to say about my job, so let me tell you a tale instead, a tale about looking for a flat in Melbourne city center for short term as a 23 years old male backpacker.

        The most restrictive I guess is the short term criteria. This prevents me from taking a lease with an agency: being there for just a couple of months, I don't want to be responsible for the furniture, set up the gas and Internet stuff. Therefore, I had to find some kind of agreement for renting a flat directly with people without agency, which is fine: I did a few flat sharing these last years and it has always been good experiences. Luckily too, looking for such flats is made easy through a very popular website here called Gumtree, that lets you post and access ads for free.

        Here is the thing though, real estate in Melbourne is bloody expensive. For most of the places, you have to pay a weekly rent that is slightly lower than Strasbourg's monthly rent. Well, that being said, this is only if you want a private room. Indeed the prices here has grown so crazy, most of the rooms you'll find are shared rooms for around 150 AUD/week. In Australia, flatmate and roommate are two different things. Another alternative to lower the price, and quite a lot of flats have that too, is sleeping in the living room. That would cost you around 125 AUD/week, your privacy will be delimited with sheets hanging from the ceiling.

        On the other side, the building themselves being quite luxury, it is rather common to have a free access to a swimming pool, a gym and a sauna. The contrast is pretty funny in my opinion.

        I'm open minded, but I do value a minimum of privacy especially after three months of living in a youth hostel. Unfortunately, living in a private room in the Central Business District (CBD) costs between 220 to 350 AUD/week. Some of these places actually have a double bedroom, so you can divide the price per two if you come as a couple. It took me a week and a half to find a reasonably priced place and close to work, during which I inspected around ten places.

        I've found most of the places I inspected so overpriced, it was almost criminal. When you pay 300$/week you expect that at least nobody will be sleeping in the living room, even though that isn't you, it shrinks the livable area quite a lot.
        Some places were actually pretty good, but I didn't get lucky. One time, the landlord didn't want tenants to stay less than three months. Another time, I came for an inspection at 8.15am, before me was a French couple visiting too and they took it. The worse time was, a flat that looked really good on the website, but when I arrived in front of the building a French lady came down and said that she didn't want to live with another French, to practice her boyfriend's English. Damn French.

        The place I finally found was quite special. The landlord is a lady, that prefers renting short term to males traveler (all other ads are the complete opposite: they usually prefer female, long term and young professional or student). Also, the location couldn't have been better: view on the main train station, neighbor of my work office and two levels under Tom's place, my best friend here, who lives in the same building. For a private room in the CBD, it is also quite cheap, 225 AUD/week. However, before moving in, I had to wait two weeks for the previous British flatmate to move out. Fair enough, I could wait that. But when I moved in, unable to find a place himself, he was still having the room meanwhile I slept on the couch in the living room for two more weeks, paying a lower rent.

        It wouldn't bother me too much, the couch is actually quite comfortable, if it wasn't that the host has two puppies and within a week I had dog poop three times close to my bed. Eventually the British moved out last Sunday and the room is mine since then.

        So, after 5 months, I finally recovered my privacy. This period of my life was quite challenging, dog poop close to your bed is kind of a psychological harassment. Back In the youth hostel, most of the people I met in my room were nice, but I had some bad experiences too. First of all, I am always amazed by the high proportion of snorer. I know it isn't their fault if they snore, but sometimes it is so heavy you hardly get any sleep.

        Once, I also had a French guy who wanted me to unlock a laptop he bought to another French (himself probably stole it to a backpacker). I didn't do it. Overall, I think my worse experience there was with a Dutch girl who stayed just for one night. She was rather nice during daytime but came back really late in the evening, and not alone. They didn't mind that they weren't just the two of them in the room. She was quite noisy, and the guy sleeping in the bed underneath (again, another French) had to tell them to stop what they were doing, as the bed was moving too much and he couldn't sleep.

        At the end, it was all worth it: I now have my real first job, I got it oversea and in an English speaking company. Success.

        For now, I have pretty much found my routine: working the week days, having dinner at Tom's place still (even though walking back home is much shorter now), and renting a car on the weekend to travel. Two weeks ago, we went to the Mornington Peninsula with Camille and it was great time: many hikes, good scenery and weather. Last weekend, Tom and I went to Philippe Island to spot some penguins (this is not a joke). The coming weekend, all of us will try to go to French Island if the weather is good enough. This is Autumn here, it is getting cold and wet soon.

        Couple of weeks ago, I also went to my first footy match (Australian Rules Football) and it was great. Melbourne is the sport city of Australia, and footy is a big deal here. The rules are so free - you can play the ball with your hands or feet - I was super interested into what strategies the teams would come with. We also went to the aquarium to see the 6 meters long saltwater crocodile, that was a bit boring as he wasn't moving much. It's maybe better this way.

        So that's that. I don't have much to say this month, but I'll keep you up to date when anything interesting happens.

        Jacques