extends monthLayout

block video
  video(width='100%',controls)
    source(src='/img/1SE/My Life_May 04 2014 - Jun 09 2014.mp4', type='video/mp4')


block letter
  .row-fluid.paragraph
    .span12
      :markdown
        Good afternoon !

        I'm back from Japan since a week now, and as expected this newsletter will mostly be about the trip (it will probably be quite long too, I have heaps of things to say!).

        But before I even start on Japan, let me finish where I left you off in the previous newsletter.

        So, the day I wrote it was the last day I was sleeping at Tiffany's place. I was moving out the day after, and I thought it was the end of this chapter. It wasn't.

        On Sunday evening, when I was planning to take my daily shower, I figured out that I didn't pack it in my bag when I moved out earlier this morning. No worries - my youth hostel being close to Tiffany's, I just sent her a text message to know when I could get it back. On the next day, I had an answer from her, saying that she trashed everything I forgot, that she didn't like a joke I did when I moved out, and to not text her ever again.

        The said joke is, me casually asking if I could get my bound back, knowing that I didn't pay any bound to live there. It was an obvious joke, no ambiguity, and she didn't seem upset or anything as I later asked her to take a short video with my phone for my project and she did.

        Not willing to give up on this towel, I did reply to that text, apologizing for the offense if there was any and explaining how important this towel was for me (it was a long microfiber towel I bargained here in a camping shop, it took me 5h to find the right shop having it). She texted back that she didn't care. A couple of messages later (three), when I figured out that I would never see this towel again, I told her how disrespectful it was to do this to someone who was saving money for traveling and has done his best to satisfy all of her stupid house rules for so long. I stated that this was my last message, as she was writing in every one to not text her again. In reply to that last message, she said that she had called the police and that they would contact me soon. They never did.

        That was pretty tough to digest. Luckily, three days later, I was sitting in a plane heading off to Cairns, not having to worry about anything else than sightseeing for the three coming weeks.

        We had a one day stopover there on our way to Japan, and another one on our way back. As usual, following our traveler's instincts, we took the most of it leaving no time for resting. We landed in Cairns around 7am, rented a car and headed off to Daintree forest, nothing else than the oldest rainforest on earth. We didn't have much time there, as driving all the way up to Cape Tribulation already takes around 3h.

        Having heard so much about crocodiles, spiders, snakes and the like, I actually thought that hiking in that forest might require an expert bush walker guide. It doesn't. We did a few hikes and drove as far as we could on non-dirt road, we didn't see any exciting animal, aside from these native Australian swamp chickens (don't know how they're called). To be honest I had higher expectations for that forest, but when I came back one of my colleague said that to access the best places we had to drive on dirt roads. Fair enough, not exploring the best spots of a place is part of the game I suppose.

        The day after, we landed in Tokyo around 11pm and we were pretty tired. So tired in fact, that when we boarded off the airport shuttle and started walking away, it took us a good 10 minutes to realize that we didn't get our luggage back from the bus. I ran back to it and luckily the driver was still there, trying to work out what to do with the unclaimed luggage. Our trip could have started very badly.

        We had a total of around four days in Tokyo. The main reason I wanted to go to Japan was to discover a different culture (Australia's just like Western), and even in Tokyo, the most populous metropolitan area in the world, you can feel the Japanese culture deeply rooted.

        The first thing that strikes you there is the toilets. I've never seen these elsewhere - I'm not sure how to describe it. At first glance, they are just European-style with an awkward control panel that makes you wondering if seating on it is safe. Looking closer, the buttons on the panel are all written with Japanese characters with some images. So you try them. These toilets have many features:
        - a water-shoot to clean your back;
        - controls over the temperature and position of the water-shoot;
        - warm air blower, to dry your back;
        - fake flush noise, to cover other kind of noise.

        I tried it a few times and it works pretty well, however I must say using it makes me feel a bit uncomfortable.

        Tokyo is such a cutting-edge city. I guess the most famous quarter for technology is Akihabara. It features huge shopping centers with so many phones, tablets, laptops and accessories, along with a bunch of also-huge and very noisy arcade rooms. And along with all that, maid cafes - where all the waitress are dressed like manga characters and perform shows. Walking there by night matches exactly what I thought Tokyo would be like: crowded and with plenty of big screens, tall, bright and colorful.

        Not only about technology, Tokyo is also about traditions. We were pretty lucky with timing, despite the short time we stayed there, a Sumo tournament (only happens twice a year), and a pretty big festival were going on. Sumo was fantastic to witness - the sport is so traditional, it apparently barely changed since its first apparition more than a thousand years ago. The rules are pretty simple: it is a one against one fight, the first wrestler who touches the ground with his hands or goes off of the ring has lost. Of note also, there is no weight category, hence why sumo are so big.

        The Asakusa festival was more about religious tradition, but was still a great entertainment. Over the weekend, different clans of Asakusa bring their small portable shrine to the main temple in order to bless them and spread luck. It is worth mentioning that a "portable shrine" is actually rather big and has to be carried by around 20 people, all day long. Pretty exciting.

        In terms of religion, Japan is a very unique country. Knowing that it was mostly Buddhist, I expected statues of Buddha everywhere as they have so many temples, even in Tokyo. But they don't. They're like, "soft Buddhist". Even today I'm not quite sure I got it right, but if I had to describe the religion out there in a word, it would be "superstitious". Let me tell you why.

        In every temple, you could pay to have a random charm. There is a various number of them, ranking from "bad luck" to "super lucky". It tells you what your luck will be in love, work, health, exams... It works better if you believe in them apparently. If you pick up a bad luck one, you can hang it to some kind of light structure such that it will be burned, and your luck recovers.

        You can also purchase small items to target something specific that matters to you, such as "Success", "Exams", "Victory", "Hello Kitty", or the not so popular one, "Traffic safety". Let me insist on that, they were not tourist items sold in a random souvenir shop, they were official totems sold in every single temple.

        Another instance, in a shrine in Kyoto, there was two big rocks and the legend has it that if you can walk from one to the other with your eyes closed, you will find true love. I thought it was pretty funny (and I got to admit that I did the walk eyes closed), but come on, that just sounds like teenager's fantasy.

        Nevertheless, temples are massive, impressive piece of architecture, always sit in a big park surrounded by nature, and it is just mind-blowing that there is a new one at every corner of the street. During our trip we visited heaps and heaps of them - we even slept in one on our last day in Mt Koya, where we had the opportunity to assist a service (at 6am),  write traditional Japanese characters and experience the monks' way of life.

        Only three days after we landed in Tokyo, we were already in another plane heading off to Hokkaido, the Northern Island. Japan is a famous country for flowers in bloom and stuff, and the reason we went there was for the renowned cherry blossom. That, and for the fantastic, luxury Onsen (Japanese bath) in the Noboribetsu, referred to as the Hells Valley for all the smoke coming out of the natural hot springs.

        We were meant to rent a car in Hokkaido to travel around, but bad surprise when we learned that a French driving license, even when coupled to an international driving license, has to be translated by some kind of Japanese administration to grant you the right to drive here. Fortunately, we figured that out on the day before, and with the help of the hotel staff, we've found buses going right where we wanted to, even though it meant for us to wake up at 6am to catch the bus (the hostel staff was super nice - they even prepared take away breakfast for us the next morning).

        We spent quite a lot of our time in Hokkaido in a bus. Eventually, when not in a bus, we've been to Takinoue for the cherry blossom, but we were there a week to early and it wasn't entirely in bloom and therefore not as nice as the pictures advertised. We also stayed in Sounkyo for two days, but most of the hikes we were planning to do were closed due to snow (they're usually closed during that season). There was a few waterfalls nearby that we could walk to that saved the day, but overall we expected more adventures from Hokkaido. I guess it is the downside of traveling off season.

        Same thing happened a few days later when we went to Hitachi Seaside park that looks amazing on pictures, but a bit disappointing when you get there and most of the flowers aren't in bloom. After that, we decided not to do flowers anymore. We would do waterfalls and mountains instead.

        And quite a few we did. The following days, back on the main island, we went to Nikko and were able to stare at the highest waterfall of Japan. We also met a local here, when we went to a restaurant that was full, the guy just signed us to seat with him. Communication was a little tough due to our poor skills in Japanese, but eventually he paid Sake, beer and juice for us. How nice.

        This actually was the second time we had been invited in a restaurant, the first time being by Camille's ex flatmate and friend, local from Tokyo. Not only she invited us, she also kept our luggage for a couple of days when we were in Hokkaido, she translated our charms and helped us to buy a few things including a lens for a camera (not talking a word of Japanese actually makes it a bit hard). Again, how nice.

        Tourists are very well treated in Japan. That being said, we haven't seen that many. But every time we were asking for directions or anything, people have always been inclined to help us. Once, a guy walked us to the metro station and said it was his duty. I guess it is a cultural thing. Another time, a guy drove us to our hostel. Also, I swear it happened quite a few times, people coming to us in the street and asking if they could take a picture of us because we looked lovely. To all the country I have been traveling to, I have never seen that before. In Spain, Italy or even France, restaurants would give a special menu to tourists with higher prices - it's just too easy. Here it was the complete opposite.

        After Nikko follows seven days of intense traveling, as we were in possession of a railway pass allowing us to take almost any train, unlimited. Within these seven days, we went from Tokyo to Lake Kawaguchiko, to Takayama, to Matsumoto, to Mt Aso, to Hiroshima and to Kyoto. We did a heavy use of it, never staying more than two days in the same place. It helped that the Shinkansen (think TGV) is super fast.

        Don't worry I won't tell you about all that, I'll just present you the highlights.

        Lake Kawaguchiko is a famous viewpoint on Mt Fuji, the icon of Japan. We planned two full days there, the first one dedicated to hiking and the second one to Fuji Q highland, a famous roller coaster park. So when we arrived there on the evening, we started looking at what hikes we could do, and our youth hostel's magazines seemed to suggest Aokigahara forest.

        Willing to get more information on the trails, we naturally googled that name, and were quite surprised by what we found: this forest is a renowned place for people to kill themselves. A ridiculous number, more than 300 deaths a year (almost once a day). It is is the world's second most popular place for suicide, after Golden Gate Bridge in California.

        We read a few blog articles that cooled down Camille a little, where writers mentioned that is wasn't rare to see human bones, and that you could feel the spirits floating around. I must say I was a bit chilled too. However, we asked the hostel staff who told us it was safe and to not expect to see any bones. We went there, and the staff was right.

        There were quite a few signs on the tracks though, written in Japanese, that we supposed meant something such as "think or your relatives that love you", as the blog mentioned, but it is also quite likely that they actually meant "Green track - go straight. 2km left". We will never know I guess.

        We weren't lucky with the weather that day as it was cloudy and raining, but eventually the sun started to shine when we walked out of the forest back to the town. At some point in the afternoon, during a visit of a traditional Japanese village, a local told us to look behind us - and it was there.

        Mt Fuji, this massive mountain, still active volcano, standing out just like a sore thumb. As funny as it can sound, even though we were so close, we hadn't seen it previously and almost forgot about it, as it was hidden in the clouds. When it did its first apparition, I stared at it for ten minutes not saying a word. It is a giant, certainly among the best landscape I have seen. A bit shy though - during our whole stay at Lake Kawaguchiko we haven't had a 100% clear view on it, there always was clouds in the sight.

        Climbing it is actually quite a challenge so we didn't do it. However, a few days later, we did climb Mt Aso, the still active too and largest volcano in Japan. It is constantly emitting toxic gases and therefore it isn't rare that it is closed to the public with respect to the direction the wind is blowing towards. Still, we chanced it and got lucky: it was one of the most uncommon experience, standing on the edge of such a powerful geological freak.

        The landscape on top of the Mt Aso was quite spectacular too: it consists of a giant carpet of black ashes, with occasionally some volcanic rocks. It was just like the moon, and I had never felt so much of a spaceman.

        What brought me back down to earth was visiting Hiroshima the day after. We spent five hours in the museum, and it still gives me chicken skin. Among all the museums I have seen before, it was the most touching one. Following the route tells you the story of how did the city looked in the past, how and why it has been selected as a target for the first atomic bomb of the history, how it looked straight after the bomb, damage on building and humans, and over time diseases due to radioactivity. The exhibition displays cloths of pupils that were at school when it happened, some of them survived the explosion and managed to walk to back their home to die of injuries few days later.

        Simply writing that last paragraph made some tears come back into my eyes again. Now I look like an emotional creep in my youth hostel, crying in front of my laptop. Great.

        We continued our trip with two days in Kyoto, a rather big and traditional city where we spent quite some time chasing Geisha (upon Camille's request) and exploring more temples, including one made out of gold and another one featuring more than three thousands gates (you can make a donation to have one built with your name). It doesn't make any sense? I know, but it actually looks good and make the place pretty special.

        We came back to Australia with a night flight from Osaka, where I bought a new towel for $1, and arrived in Cairns at 5am. We had just a day there, and again, we weren't planning to waste our time. We rushed from the airport to our hostel, dropped our luggage, and went to the wharf where our day trip snorkeling/diving at the Great Barrier Reef was starting at 7am.

        The Great Barrier Reef is the biggest living thing on earth. It is a whole different world: so colorful and magic, it felt like being in The Little Mermaid, under the sea. Presumably the most unexpected and special experience I had in Australia so far.

        Overall, these holidays were rather intense, and don't tell it to my boss but quite exhaustive.

        Usually, when you come back from holidays, you come back home. Going back to Melbourne was a little rougher, as I am now in a youth hostel again and not knowing many people there.

        Regardless, the holidays we had in Japan were just incredible and opened our mind to the Japanese culture. In this newsletter, I didn't cover half of what I wanted to cover originally, but I would already be very impressed that you read it to this line =).

        The coming months will be work intense, and I'll tell you why in the coming newsletter.

        Hope you are all doing well,

        Jacques
