extends ../layout

block link
  -var selected = 'Australia';

block subheading
  .row-fluid
    .span6.offset3.drop-shadow.lifted
      block video
        Your browser does not support the video tag
block content
  .row-fluid.section1.paragraph
    .drop-shadow.raised
      block letter