extends monthLayout

block video
  video(width='100%',controls)
    source(src='/img/1SE/My Life_Oct 27 2013 - Nov 21 2013.mp4', type='video/mp4')

block letter
  .row-fluid.paragraph
    .span12
      :markdown
        Hey !

        Here we are, a month has passed and it's already time for the second update.

        We have spent the whole month in Melbourne. The city is good for living, it is quite obvious that many architects have spent their time designing it, which makes a real difference. Streets are large and grant space for walking, buildings are tall but not oppressive, and there are many medium-sized places that street performers use as scenes (some of them even include free-wifi, a holy grail for travelers).

        Melbourne also provides a bunch of parks, where one can enjoy himself strolling around. Most of them are of descent size and have signs advertising for possums that you should not feed, however I haven't seen any despite the time I devoted at finding them.

  .row-fluid.paragraph
    .span3
      a(href='/img/australia/melb6.jpg')
        img.img-polaroid(src='/img/australia/melb6Small.jpg')

    .span6
      :markdown
        The town also proposes a lot entertainments; a Zoo with a complete collection of animals coming from the entire world, an Aquarium that display a five-meter long salt water crocodile, Victoria Museum with some cool exhibitions about the creation of earth and dinosaurs, Eureka Tower where you can enjoy a 360° view of the city as high as 300m above the ground, and plenty of art exhibits.

    .span3
      a(href='/img/australia/melb2.jpg')
        img.img-polaroid(src='/img/australia/melb2Small.jpg')

  .row-fluid.paragraph
    .span12
      :markdown
        A huge market takes place almost every day in the center, where you can purchase not only good value and fresh food but some pretty cool Australian products like boomerangs and didgeridoos. By the way, here is something quite significant about Australia: it appears that it does not import a lot of products, but rather tends to manufacture them locally. This behavior is not surprising when you figure out how annoying and expensive it is to send something oversea. A single postal stamp for oversea costs 2.60$ (around 1.80€), and it is mandatory to fill a form whenever you send an item, whatsoever. On the other hand, Australia is about the size of Europe thus 'locally' is a standard easier to respect there.


  .row-fluid.paragraph
    .span4
      a(href='/img/australia/melb5.jpg')
        img.img-polaroid(src='/img/australia/melb5Small.jpg')

    .span8
      :markdown

        So far our trip has not been as exotic as we expected. You don't really feel at the other end of the planet when you stay in Melbourne; it is big, civilized and international, like many other big cities in different countries.

        Very few clues make you remember that you are not in the northern hemisphere anymore. Amongst them, birds. It is quite common to stroll in the streets and spot a magnificent parrot on a lamp, the kind of parrot you would only see in pet shop for 2000€ if you were in France. Also, people in parks play weird sports: cricket, a sort of baseball but slower (a single game can last for days), bike polo, a cheap version of polo where you ride bikes instead of horses, and 'bowls', some kind of high range pétanque, or ground curling depending on how you see it.

        On top of that, settling down is hard. The job searching process is boring as you spend much of your time enhancing your resume and waiting for recruiter's answers.

        Once completed successfully comes the hiring process, which is not better and turns out to be pretty slow too. My interview went perfectly well, but they are still conducting more interview and they have not been in touch with me for three weeks.

        Tomorrow I will have a skype interview with another company, even though I applied to them a month ago.

  .row-fluid.paragraph
    .span12
      :markdown


        There is a third company that approached me this month. The way we got in touch is quite interesting. I was having diner in a Japanese restaurant with two friends few weeks ago, which has the particularity of printing an origami pattern on its paper menu. After a while, we were still unable to get the stage four right (out of a dozen of stages); needless to say our folding was far from the desired swan-shape. When we resorted to ask some help from the waiter, a woman at the next table jumped in and presented herself as an origami master. We chatted a bit, and told her we were outsiders looking for jobs. Almost instantaneously, she asked whether one of us was a developer. This is how I got into the hiring process, which has been much quicker than for the other companies. The following days, I got contacted and my technical skills were positively tested with three JavaScript related questions (I can share them if you're curious).

        Unluckily they have a major deadline for 2014 and didn't want to hire someone without much experience before it, considering the amount of time required to learn and that they had just hired 2 experienced Node.js developers. But they will consider my application again in few months, once this deadline will be over, and I am looking forward to it.


  .row-fluid.paragraph

    .span8
      :markdown
        Settling down isn't all about finding a job, and I also joined some communities this month. Most importantly, I gathered with the Ultimate Frisbee Enthusiasts of Melbourne, attending as most practices as I could. I find it quite amazing that, whatever town you pick in whatever country, Ultimate Frisbee players will always be nice and welcoming guys. At least it has been my experience so far. The first game I played with them was around 11am on a beach; it was so warm and dry that it felt like we were playing in the desert.

        The Swing club has also been welcoming to me, but each class costs 15$, therefore I took the decision to pause that until I get some money coming in again.

        I also tried an Hacker Space once, but I definitely won't have enough spare time to spend on a project, especially with respect to my skills in electronics that are quite nonexistent. Oh, for those wondering, an Hacker Space is a place, most often someone's garage, providing a bunch of tools and electrical components with which you can toy around. A bit of an improved version of Lego.

        Funny fact is, I came there for what was called a 'Young Hacker Session', as I was considering myself a young hacker, but I understood my misunderstanding when I realized that parents were coming along with their seven years old child to play Lego.

    .span4
      .row-fluid.paragraph
        .span12
          a(href='/img/australia/melb7.png')
            img.img-polaroid(src='/img/australia/melb7Small.png')
      .row-fluid
        .span12
          a(href='/img/australia/melb8.png')
            img.img-polaroid(src='/img/australia/melb8Small.png')

  .row-fluid.paragraph
    .span12
      :markdown






        Nonetheless, the grown-up community was nice too, and I have set up a work environment on my Raspberry Pi in case I feel the will to start a project.

        I promise next month will be filled with more fascinating adventures, as we will be traveling the whole of it. Indeed, the job search being too slow we decided to take a month off and come back to Melbourne for Christmas and New Year's Eve probably.

        We have found a huge bike race that celebrates its 30 years this year, and we committed among the 400 volunteers. It lasts 10 days, upon which 6000 contestants will ride around 610km of the Great Ocean Road.

        Once this mission completed, we are planning some woofing in Tasmania for three weeks. Woofing is a concept based on 'work-in-exchange-of-food-and-bed', and thus is a handy way of traveling for cheap. What's more, it allows you to meet locals and understand a culture better than if you were just sightseeing.

        Backward-looking, this month was a bit of an unsuccessful attempt to settle down. The coming one would rather be enjoying ourselves, and the following might be another shot at settling in Melbourne.

        Anyway, I'd let you know how things are going for me down under. I am really looking forward =)

        You will hear from me next month again,<br/>
        Jacques


        PS : The book I was reviewing was terrible, thus I quited the reviewing process saying to the editor that to me it was far from being of publishable quality, currently ranking between a medium-medium plus exam paper. They thanked me for my honesty.
