extends monthLayout

block video
  video(width='100%',controls)
    source(src='/img/1SE/My Life_Oct 16 2013 - Oct 26 2013.mp4', type='video/mp4')

block letter
  .row-fluid.paragraph
    .span12
      :markdown
        Hey !

        Before I left, a friend suggested me to send some monthly news of my trip, as it was a nice way to stay in touch.

        Thus here I am and there you are :-) <br/>
        Also, for reusability and global understanding issue, I would rely on Shakespeare's language. Factorisation.
  .row-fluid.paragraph
    .span6
      :markdown
        We started our trip with 3 days in Dubaï. It was an experience; really different from any town I have seen so far, on almost every levels; weather, size, economy...

        There were many entertainments available, such as skydiving, adventure in the desert, going up the Burj Khalifa (highest tower in the world), scuba diving with sharks, and many others. However all of those were horribly expensive. Even the ticket to enter the tower was about 45€. Well, actually, it wasn't that expensive with respect to what it was, but it wasn't especially cheap either. The prices would have been the same if those activities were proposed in France.

        It was a bit difficult to make people understand that we were cheap students. That, instead of a tour of the town with a taxi and a guide, we would rather take the metro and read a map. Instead of restaurant, we would rather go for a kebab out of the city center.
    .span6
      a(href='/img/australia/dubai.jpg')
        img.img-polaroid(src='/img/australia/dubaiSmall.jpg')
  .row-fluid.paragraph
    .span12
      :markdown
        At the end, in my opinion, we succeeded to have a nice and cheap vacation there. During the day, we were visiting huge Malls in different city centers (there might be around 3 of them). By huge, I mean huge. They all have their own specificities: one of them have an enormous aquarium where you could dive with sharks, and another have an ice ring. The most famous one, you may have heard of it, have an indoor ski slope along with a chairlift. Not only impressive by its size, it has to rely on a crazy air conditioning system, as Dubaï is located right in the desert. By the way, this was the reason why we were doing Malls throughout the day: it was impossible to walk for more than 15 minutes outside. And in Dubaï, you don't go really far with 15 minutes of walk. Really when you glance at the map, you wouldn't guess distances are this big. The town simply isn't human-sized.<br/>
        During the night, the temperature was about 30°, so perfect for walks. We watched some nightly small festivals, such as water show and light show.


  .row-fluid.paragraph
    .span6
      a(href='/img/australia/melb3.jpg')
        img.img-polaroid(src='/img/australia/melb3Small.jpg')
    .span6
      :markdown
        Then, we flight to Melbourne. Sitting for 14h do is a pain in the ass.

        We are there since almost a week now. We expected a greater weather, it's actually a bit cold and raining down there, even though summer is coming next month. However, what is really warm is the people we met so far. From bus driver to receptionists, they speak proper intentionally-understandable English and were nice with us.

        Until now, we haven't taken the time to really enjoy our stay here. We've both been looking for jobs, sending our resume to recruiter and writing cover letter. The only social interaction we had was 2 days ago when we went to a pub crawl and met our first brand new friends, with who we will have a barbecue on the roof of the youth hostel tonight.

  .row-fluid.paragraph
    .span12
      :markdown
        I will have a job interview on Monday. If this doesn't go well, another recruiter seemed to be interested in me.
        Funny fact is, by applying to many companies and sending my resume here and there, it ended up in the hands of *PacktPub*, a book editor, which is asking me to review one of the book they will publish soon (something about game development and WebGL). As a token of thanks, they would put my name in the credits.

        I swear I will upload some pictures on Facebook whenever the internet connection will be better =)

        Unexpectedly next monthly update will be next month.<br/>
        Let me know whether you want me to unsubscribe you from this list (ain't we friends?! :-p ) or if you want more informations on something in particular.

        Regards,

        Jacques KAISER
