node_modules/*
*~
#*
npm-debug/log

*.xcf
public/img/australia/panoOctober.jpg
public/img/australia/panoNovember.jpg
public/img/australia/panoDecember.jpg
public/img/australia/panoJanuary.jpg
public/img/australia/panoFebruary.jpg
public/img/australia/panoMarch.jpg
public/img/australia/panoApril.jpg
public/img/australia/panoMay.jpg
public/img/australia/panoJune.jpg
public/img/australia/panoJuly.jpg
public/img/australia/panoAugust.jpg
