extends layout

block link
  -var selected="About"

block subheading
  .row-fluid
    .row-fluid
      span.tag-word.t-social Entreprising
      span.tag-word.t-social Open minded
      span.tag-word.t-social Quick learner
      span.tag-word.t-social Easy going

    .row-fluid
      img.img-circle.asset(src='img/gravatar.jpg', height='250', width='250')

    .row-fluid
      span.tag-word.t-technical JavaScript
      span.tag-word.t-technical C++
      span.tag-word.t-technical Unix
      span.tag-word.t-technical WebGL

block content
  .row-fluid.section1
    #description.span10.offset1.copy.drop-shadow.raised(itemscope itemtype ="http://schema.org/Person" name="Jacques KAISER" image="img/gravatar.jpg" birthDate="1991-01-31" email="jacko.kaiser@gmail.com" gender="male")
      :markdown
        Hi there, and welcome to this page.
        This is my very first post, on my very first website. I decided to start one, as I thought it was a nice, simple and innovative way of expression. This website will also be an ideal platform to show my work later on. But before we get started, let me introduce myself a bit.

        I'm Jacques KAISER, 22 years old. I've been studying Computer Science and computer graphics, up to the Master's degree at Strasbourg University, France. By the time I'm writing this post, I'm doing a spontaneous internship in [Skimlab](http://skimlab.com "Skimlab"), a brand new startup in Strasbourg, and I'm plannig ahead a one-year trip to Australia. I'm quite into travelling since my Erasmus year abroad in Durham University, England.


        Unlike a considerable part of passionated, I discovered Computer Science quite late. I had no idea of what a program was until I started the University. The only course I enjoyed during high school was Mathematics, therefore it was clear for me that I was meant to belong to the department of Mathematics. Fortunately, in Strasbourg, Mathematics and Computer Science are coupled, and the first year is common to both formation with half of the courses being Mathematics and the other half Computer Science.

        Usually, when French students go to the Uni, they fail their first year. This is mainly due to two factors, the first being the huge amount of freedom, when you aren't forced to go to class any more, and the second being that you picked a department that wasn't meant for you. Indeed, high school is quite different from University, the gap is hard to handle.

        When I did my first year at the Uni, not only did I discover how Computer Science was sparking my interest, but also the whole learning process itself. From there, I opened my mind to a bunch of new activities, teaching myself new skills. I've learned juggle, nunchaku, tricking, slackline, drift skate,... the list is large and still expending. I'm not a professional in any of these, I just practice each one until I master the basics, and sometimes beyond.

        I believe that learning all that stuff made me become a better learner. Even though most of these aren't related to science at all, it feels like my brain is more reactive.

        From now on, I share my time amongst expending my Computer Science knowledge, sports and social interactions. I'm still into learning new skills whenever something new and appealing comes to me. Also, don't know if that's for good or bad, but I might be one of the very few Computer Scientists that don't play video games at all.

        As professional experiences, before the internship I'm currently doing, I've completed two trainees in Strasbourg research lab. You can find more details about those experiences, along with references, on [this page](/work "work").

        I'll try to provide relevant informations on my work through this website, on the [apps page](/projects "projects"). Do not hesitate to get in touch with me, you'd find my contact details [there](/contact "contact").

        *Jacques KAISER*


block scripts
  script
    // markdown automatically creates paragraphs
    // in order to choose font-size we need to bind them to a class
    $('#description').find('p').addClass('long');