extends layout

block link
  -var selected = 'Australia';

block subheading
  .row-fluid
    .span8.offset2.drop-shadow.lifted
      p
      | Here is a diary of my current trip to Australia.
      | It is a monthly newsletter dedicated to my friends, that I decided to upload and open as it may help some people interested into coming down here.



block content
  #accordion2.accordion

    .accordion-group.drop-shadow.raised
      .accordion-heading
        a.accordion-toggle(data-toggle='collapse' data-parent='#accordion2' href='#collapseOne')
          img.panorama(src='img/panoOctoberSmall.jpg')
      #collapseOne.accordion-body.collapse
        .accordion-inner
          .row-fluid.paragraph
            .span12
              :markdown
                Hey !

                Before I left, a friend suggested to me to send some monthly news of my trip, as it was a nice way to stay in touch.

                Thus here I am and there you are :-) <br/>
                Also, for reusability and global understanding issue, I would rely on Shakespeare's language. Factorisation.
          .row-fluid.paragraph
            .span6
              :markdown
                We started our trip with 3 days in Dubaï. It was an experience; really different from any town I have seen so far, on almost every levels; weather, size, economy...

                There were many entertainments available, such as skydiving, adventure in the desert, going up the Burj Khalifa (highest tower in the world), scuba diving with sharks, and many others. However all of those were horribly expensive. Even the ticket to enter the tower was about 45€. Well, actually, it wasn't that expensive with respect to what it was, but it wasn't especially cheap either. The prices would have been the same if those activities were proposed in France.

                It was a bit difficult to make people understand that we were cheap students. That, instead of a tour of the town with a taxi and a guide, we would rather take the metro and read a map. Instead of restaurant, we would rather go for a kebab out of the city center.
            .span6
              img.img-polaroid(src='img/dubai.jpg')
          .row-fluid.paragraph
            .span12
              :markdown
                At the end, in my opinion, we succeeded to have a nice and cheap vacation there. During the day, we were visiting huge Malls in different city centers (there might be around 3 of them). By huge, I mean huge. They all have their own specificities: one of them have an enormous aquarium where you could dive with sharks, and another have an ice ring. The most famous one, you may have heard of it, have an indoor ski slope along with a chairlift. Not only impressive by its size, it has to rely on a crazy air conditioning system, as Dubaï is located right in the desert. By the way, this was the reason why we were doing Malls throughout the day: it was impossible to walk for more than 15 minutes outside. And in Dubaï, you don't go really far with 15 minutes of walk. Really when you glance at the map, you wouldn't guess distances are this big. The town simply isn't human-sized.<br/>
                During the night, the temperature was about 30°, so perfect for walks. We watched some nightly small festivals, such as water show and light show.


          .row-fluid.paragraph
            .span6
              img.img-polaroid(src='img/melb3.jpg')
            .span6
              :markdown
                Then, we flight to Melbourne. Sitting for 14h do is a pain in the ass.

                We are there since almost a week now. We expected a greater weather, it's actually a bit cold and raining down there, even though summer is coming next month. However, what is really warm is the people we met so far. From bus driver to receptionists, they speak proper intentionally-understandable English and were nice with us.

                Until now, we haven't taken the time to really enjoy our stay here. We've both been looking for jobs, sending our resume to recruiter and writing cover letter. The only social interaction we had was 2 days ago when we went to a pub crawl and met our first brand new friends, with who we will have a barbecue on the roof of the youth hostel tonight.

          .row-fluid.paragraph
            .span12
              :markdown
                I will have a job interview on Monday. If this doesn't go well, another recruiter seemed to be interested in me.
                Funny fact is, by applying to many companies and sending my resume here and there, it ended up in the hands of *PacktPub*, a book editor, which is asking me to review one of the book they will publish soon (something about game development and WebGL). As a token of thanks, they would put my name in the credits.

                I swear I will upload some pictures on Facebook whenever the internet connection will be better =)

                Unexpectedly next monthly update will be next month.<br/>
                Let me know whether you want me to unsubscribe you from this list (ain't we friends?! :-p ) or if you want more informations on something in particular.

                Regards,

                Jacques KAISER



    .accordion-group.drop-shadow.raised
      .accordion-heading
        a.accordion-toggle(data-toggle='collapse' data-parent='#accordion2' href='#collapseTwo')
          img.panorama(src='img/panoNovemberSmall.jpg')
      #collapseTwo.accordion-body.collapse
        .accordion-inner
          .row-fluid.paragraph
            .span12
              :markdown
                Hey !

                Here we are, a month has passed and it's already time for the second update.

                We have spent the whole month in Melbourne. The city is good for living, it is quite obvious that many architects have spent their time designing it, which makes a real difference. Streets are large and grant space for walking, buildings are tall but not oppressive, and there are many medium-sized places that street performers use as scenes (some of them even include free-wifi, a holy grail for travelers).

                Melbourne also provides a bunch of parks, where one can enjoy himself strolling around. Most of them are of descent size and have signs advertising for possums that you should not feed, however I haven't seen any despite the time I devoted at finding them.

          .row-fluid.paragraph
            .span3
              img.img-polaroid(src='img/melb6.jpg')

            .span6
              :markdown
                The town also proposes a lot entertainments; a Zoo with a complete collection of animals coming from the entire world, an Aquarium that display a five-meter long salt water crocodile, Victoria Museum with some cool exhibitions about the creation of earth and dinosaurs, Eureka Tower where you can enjoy a 360° view of the city as high as 300m above the ground, and plenty of art exhibits.

            .span3
              img.img-polaroid(src='img/melb2.jpg')

          .row-fluid.paragraph
            .span12
              :markdown
                A huge market takes place almost every day in the center, where you can purchase not only good value and fresh food but some pretty cool Australian products like boomerangs and didgeridoos. By the way, here is something quite significant about Australia: it appears that it does not import a lot of products, but rather tends to manufacture them locally. This behavior is not surprising when you figure out how annoying and expensive it is to send something oversea. A single postal stamp for oversea costs 2.60$ (around 1.80€), and it is mandatory to fill a form whenever you send an item, whatsoever. On the other hand, Australia is about the size of Europe thus 'locally' is a standard easier to respect there.


          .row-fluid.paragraph
            .span4
              img.img-polaroid(src='img/melb5.jpg')

            .span8
              :markdown

                So far our trip has not been as exotic as we expected. You don't really feel at the other end of the planet when you stay in Melbourne; it is big, civilized and international, like many other big cities in different countries.

                Very few clues make you remember that you are not in the northern hemisphere anymore. Amongst them, birds. It is quite common to stroll in the streets and spot a magnificent parrot on a lamp, the kind of parrot you would only see in pet shop for 2000€ if you were in France. Also, people in parks play weird sports: cricket, a sort of baseball but slower (a single game can last for days), bike polo, a cheap version of polo where you ride bikes instead of horses, and 'bowls', some kind of high range pétanque, or ground curling depending on how you see it.

                On top of that, settling down is hard. The job searching process is boring as you spend much of your time enhancing your resume and waiting for recruiter's answers.

                Once completed successfully comes the hiring process, which is not better and turns out to be pretty slow too. My interview went perfectly well, but they are still conducting more interview and they have not been in touch with me for three weeks.

                Tomorrow I will have a skype interview with another company, even though I applied to them a month ago.

          .row-fluid.paragraph
            .span12
              :markdown


                There is a third company that approached me this month. The way we got in touch is quite interesting. I was having diner in a Japanese restaurant with two friends few weeks ago, which has the particularity of printing an origami pattern on its paper menu. After a while, we were still unable to get the stage four right (out of a dozen of stages); needless to say our folding was far from the desired swan-shape. When we resorted to ask some help from the waiter, a woman at the next table jumped in and presented herself as an origami master. We chatted a bit, and told her we were outsiders looking for jobs. Almost instantaneously, she asked whether one of us was a developer. This is how I got into the hiring process, which has been much quicker than for the other companies. The following days, I got contacted and my technical skills were positively tested with three JavaScript related questions (I can share them if you're curious).

                Unluckily they have a major deadline for 2014 and didn't want to hire someone without much experience before it, considering the amount of time required to learn and that they had just hired 2 experienced Node.js developers. But they will consider my application again in few months, once this deadline will be over, and I am looking forward to it.


          .row-fluid.paragraph

            .span8
              :markdown
                Settling down isn't all about finding a job, and I also joined some communities this month. Most importantly, I gathered with the Ultimate Frisbee Enthusiasts of Melbourne, attending as most practices as I could. I find it quite amazing that, whatever town you pick in whatever country, Ultimate Frisbee players will always be nice and welcoming guys. At least it has been my experience so far. The first game I played with them was around 11am on a beach; it was so warm and dry that it felt like we were playing in the desert.

                The Swing club has also been welcoming to me, but each class costs 15$, therefore I took the decision to pause that until I get some money coming in again.

                I also tried an Hacker Space once, but I definitely won't have enough spare time to spend on a project, especially with respect to my skills in electronics that are quite nonexistent. Oh, for those wondering, an Hacker Space is a place, most often someone's garage, providing a bunch of tools and electrical components with which you can toy around. A bit of an improved version of Lego.

                Funny fact is, I came there for what was called a 'Young Hacker Session', as I was considering myself a young hacker, but I understood my misunderstanding when I realized that parents were coming along with their seven years old child to play Lego.

            .span4
              .row-fluid.paragraph
                .span12
                  img.img-polaroid(src='img/melb7.png')
              .row-fluid
                .span12
                  img.img-polaroid(src='img/melb8.png')

          .row-fluid.paragraph
            .span12
              :markdown






                Nonetheless, the grown-up community was nice too, and I have set up a work environment on my Raspberry Pi in case I feel the will to start a project.

                I promise next month will be filled with more fascinating adventures, as we will be traveling the whole of it. Indeed, the job search being too slow we decided to take a month off and come back to Melbourne for Christmas and New Year's Eve probably.

                We have found a huge bike race that celebrates its 30 years this year, and we committed among the 400 volunteers. It lasts 10 days, upon which 6000 contestants will ride around 610km of the Great Ocean Road.

                Once this mission completed, we are planning some woofing in Tasmania for three weeks. Woofing is a concept based on 'work-in-exchange-of-food-and-bed', and thus is a handy way of traveling for cheap. What's more, it allows you to meet locals and understand a culture better than if you were just sightseeing.

                Backward-looking, this month was a bit of an unsuccessful attempt to settle down. The coming one would rather be enjoying ourselves, and the following might be another shot at settling in Melbourne.

                Anyway, I'd let you know how things are going for me down under. I am really looking forward =)

                You will hear from me next month again,<br/>
                Jacques


                PS : The book I was reviewing was terrible, thus I quited the reviewing process saying to the editor that to me it was far from being of publishable quality, currently ranking between a medium-medium plus exam paper. They thanked me for my honesty.


    .accordion-group.drop-shadow.raised
      .accordion-heading
        a.accordion-toggle(data-toggle='collapse' data-parent='#accordion2' href='#collapseThree')
          img.panorama(src='img/panoDecemberSmall.jpg')
      #collapseThree.accordion-body.collapse
        .accordion-inner
          .row-fluid.paragraph
            .span12
              :markdown
                G'day ! (Claimed Australian slang)<br/>
                And Merry Christmas to you all. I hope you had a lovely one.

                My Christmas Eve was a bit uncanny this year, flying on Christmas Eve from Tasmania to Melbourne, and cooking kangaroo burgers at a public barbecue on the 25th while playing Frisbee under a 30° sunshine.

                It was a enriching trip though, socially and culturally speaking. It started with 9 days of volunteering for an huge and quite famous event in Victoria, the Great Victorian Bike Ride.

                Imagine you gathering some friends and having a small bike ride in the countryside. This was pretty much how this event felt like, albeit this one gathered 5200 riders and 400 volunteers, riding 500km over nine days and taking place in the iconic Great Ocean Road. A bit challenging but definitely not a race at all, this events aims at having some good and friendly time with people enjoying bicycles.

                Volunteers were split into 35 groups and most of them didn't have to ride, carried from campsite to campsite by several coaches. They provide much of the labour for the ride, which helps keep costs down and therefore lowers entry fees for riders. They are in charge with pitching tents, serving meals, medical service, handling luggage, entertaining and so on.

          .row-fluid.paragraph
            .span2
              .row-fluid.paragraph
                .span12
                  img.img-polaroid(src='img/gvbr3.png')
              .row-fluid
                .span12
                  img.img-polaroid(src='img/gvbr2.png')

            .span7
              :markdown
                I found my way in the Media team, in charge of writing articles for the daily specialized newspapers of the event, namely the 'Good Oil'. Along with my three colleagues, our jobs consisted in interviewing participants and writing stories. Auxiliary, we were also taking care of carrying a portable toilet around, which granted us the right to have our own car - a pearl when it comes to do a bit of sightseeing in the empty Victorian's bush.

            .span3
              img.img-polaroid(src='img/gvbr1.jpg')

                And empty it was. To give you an idea, anytime our small community was setting up a campsite somewhere, we were instantaneously becoming the biggest and most populated town of the area. All the villages we were passing by had from 10 to 2000 souls, and usually one or two pubs were the only business. To them, the bike ride was quite a special event, making more sales than on New Years Eve.

          .row-fluid.paragraph
            .span12
              :markdown
                Although pretty basic comfort conditions, this volunteering was a lot of fun: You meet a bunch of nice people, all of them being there for having a good time. Also, you live at no expenses and you are given some free stuff away, such as shirts and hats. Moreover it was an amazing opportunity to meet local Australians, as most of the participants were from Victoria despite the huge amount of backpackers in Melbourne.

                I left to Tasmania almost as soon as I came back from the bike ride in order to experience another amazing way to meet locals and live at no expenses while traveling, namely Woofing. The concept is quite simple: you work for someone in exchange of a bed and food. Most of the time, you will be hosted by folks living in an environmentally friendly house remotely from any town in the surrounding, owning a descent piece of land. The odd jobs you are given often relate with entertaining this big piece of land, such as gardening, or digging holes and pouring concrete in order to build an extension to their beloved home.

          .row-fluid.paragraph
            .span4
              img.img-polaroid(src='img/jettyHouse.jpg')

            .span8
              :markdown
                Even though I consider myself as a city-person, I must say it feels good to live in such a house. The more remote the house is, the more it tends to be self-sufficient. You collect eggs from your chickens, you fish your own seafood, you give your waste back to the chickens, you grow vegetables in your garden, you eat the chickens. This is what daily life looks like.

                Tasmanians' hosts even go further than that. Not even they grow their own food, they also collect rainwater into water-tank and drink it without any form of treatment. I was really surprised when I have learned that the water I had been drinking for weeks was directly coming from the rain, but this is actually perfectly fine in Tasmania. Indeed this is a specificity from Tasmania: don't try it at home. The island is so untouched and covered with forests, it has the purest air of the whole world.

          .row-fluid.paragraph
            .span12
              :markdown
                Woofing is a very special way to be accommodated. The first host family was holding a guest house, from 120$ a night and obviously free for us as woofers. Well, we were not hosted as if we were guests, as our room was in a separate spider-infested building, but we were still sharing the fantastic breakfast. However, as a Woofer, you belong to the hosts' side rather than the guests' side of the business. Indeed, you have to keep in mind that you actually live within the family instead of being a simple customer, and this makes the whole difference. You share the table during dinner, take afternoon tea with them, share their laughs and their issues. During our two weeks stay at this family, our host's father had a stroke and she had to fly back to Perth to see him. We were in the middle of this, whereas we didn't know these people a week before, and were now given a full description of her family. While woofing you actually become close to your hosts.

          .row-fluid.paragraph
            .span8
              .row-fluid.paragraph
                .span12
                  img.img-polaroid(src='img/tasman2.jpg')
              .row-fluid
                .span4
                  img.img-polaroid(src='img/tasman3.jpg')
                .span4
                  img.img-polaroid(src='img/tasman4.jpg')
                .span4
                  img.img-polaroid(src='img/tasman5.jpg')

            .span4
              :markdown
                However, staying the whole time with them might not bring you to see most of the landscapes the country has to offer. This is why we took few days off and rented a car in the sake of visiting some of the many Tasmania's National Parks. Driving 700km and walking for around 14h total within three days, we tried to cover the East Coast. We went to the renowned Freycinet and its iconic white-sand Wineglass beach, Douglas-Apsley with its long and unsigned track down the river, Tasman and its superb coastal scenery and Mt Field with its magnificent Russell falls.

                I did many hikes in my life, mostly in France, England and Germany, but nothing half as impressive as the tracks in Tasmania. The wildlife is stunning. The forest is dense, tall and have an eucalyptus flavor. It is not unusual to cross wallabies, though Tasmanian devil is quite rare and endangered due to a disease killing most of them.

          .row-fluid.paragraph
            .span12
              :markdown


                Before I came to Tasmania, I thought hiking there was reserved to an elite of bush walkers like Bear Grylls, only them being able to find their way in the bush and fighting deadly snakes and spiders. Well, I was wrong. Walking in the bush out of the track can be quite dangerous as it is easy to get lost, but it is perfectly safe if you follow the track. There are indeed some spiders and snakes, although they are very shy and will runaway from you rather than jump on your face. When you come down to Australia, you should not be afraid of what can kill you, otherwise you would not go very far out. What you should rather consider is what actually go for you. It turns out that Tasmanian's snakes and spiders are pretty much pacific, most of the nasty things live in Northern Australia, Queensland. Some snakes are aggressive, crocodiles are a real concern and sharks too, along with jellyfishes. But again, except from sharks that strikes randomly (and even then, statistically they strike rarely) you won't have any problem if you listen to your common sense. Crocodiles and jellyfishes are tracked, most of the deadly attack involve too curious tourists.

                What you should be afraid of though is the sunshine, really strong in Australia due to the hole in the ozone layer. It is the country with the most skin cancer per inhabitants, it is therefore witted to always carry some sunscreen and a hat when you go hiking.

                These holidays were really nice, but discussing with locals and sightseeing Tasmania I realized that a car is actually necessary to discover Australia in its all beauty. Even Tasmania is seven times bigger than Corsica.

                Within the next days, I will stay around Melbourne and do some more woofing close to the city. I will give another shot at finding a job on the beginning of January. Also, if I have enough spare time for that, I will upload these letters on my website decorated with some pictures and my one second video project.

                See you soon !<br/>
                Jacques
