extends layout

block link
  -var selected = 'Australia';

block subheading
  .row-fluid
    .span8.offset2.drop-shadow.lifted
      p
      | Here is a diary of my current trip to Australia.
      | It is a monthly newsletter dedicated to my friends, that I decided to upload and open as it may help some people interested into coming down here.
      p
      | I added a short video clip to each letter which is a compilation of one-second clips shot every day.



block content
  each val in australiaDropdown
    .row-fluid
      .span12.drop-shadow.raised
        a(href='/australia/'+val.toLowerCase())
          img.panorama(width='100%',src='img/australia/pano'+val+'Small.jpg')
