extends layout

block link
  -var selected="Comment"

block contentNoContainer
  .row-fluid
    #board.span10.offset1
      each comment, index in comments
        .act
          p.copy= comment.text
          p.note= comment.name


block scripts
  script(type='text/javascript')
    $('#board').click(function() {
      $('#center-box').show();
    });