extends layout

block link
  -var selected="Comment"

block contentNoContainer
  .row-fluid
    #board.span10.offset1
      #col1.span3
      #col2.span3
      #col3.span3
      #col4.span3
      each comment, index in comments
        .act
          p.copy= comment.text
          p.note= comment.name


block scripts
  !=js('commentHandler')

  script(type='text/javascript')
    // click on the board: show popup
    $('#board').click(function() {
      $('#center-box').show();
    });
