extends layout

block link
  -var selected="Contact"

block content
  .span6
    .span5.well.drop-shadow.lifted
      .row
        .span2
          a.thumbnail(href='/')
            img(src='img/weddingMe.jpg', alt='')
        .span3
          p
            strong Jacques KAISER
          p Developper
          p jacko.kaiser@gmail.com
          p
            a(href='www.chezjacking.tk') www.jacqueskaiser.com
          .span3
            a.social(href='http://www.linkedin.com/profile/view?id=97265989&locale=en_US')
              img(src='img/linkedin.png', width='35', alt='linkedin')
            a.social(href='https://github.com/jackokaiser')
              img(src='img/github.png', width='35', alt='github')
            a.social(href='img/cv.pdf')
              img(src='img/cvIcon.png', width='35', alt='resume')
            a.social(href='https://plus.google.com/105897447355921804637')
              img(src='img/googleplus.jpg', width='35', alt='googleplus')

  .row-fluid
    .span5.drop-shadow.lifted
      .centered
        p
          strong Location
      .copy(itemscope itemtype ="http://schema.org/Place" address="Melbourne Australia")
        :markdown
          From now on, and until the 16th of October 2013, I'm living in Strasbourg, France.
          Afterward, I'll move to Melbourne, Australia.
  .span6.drop-shadow.raised
    form
      .controls.controls-row
        input#name.span3(name='name', type='text', placeholder='Name')
        input#email.span3(name='email', type='email', placeholder='Email address')
      .controls
        textarea#message.span6(name='message', placeholder='Your Message', rows='5')
      .controls
        button#contact-submit.btn.btn-primary.input-medium.pull-right(onclick='sendMail(); return false;', type='submit') Send
  #rss-feeds.span4.drop-shadow.raised
    .centered
      p
        strong GitHub Feed

block scripts
  script(src='https://d396qusza40orc.cloudfront.net/startup%2Fcode%2Fjquery.js')
  script(src='https://d396qusza40orc.cloudfront.net/startup%2Fcode%2Fbootstrap.js')
  script(src='js/libs/jquery-1.6.4.min.js')
  script(src='js/libs/jquery.rss.js')
  != js('rssFeedParser')
  script
    function sendMail() {
    var link = "mailto:jacko.kaiser@gmail.com" +
    "?&subject=" + escape("CzJk : "+document.getElementById('name').value + "<"+ document.getElementById('email').value+">") +
    "&body=" + escape(document.getElementById('message').value);
    window.location.href = link;
    }
