extends layout

block content
    .row-fluid.section1
      .span5.offset1.asset
        img.img-polaroid(width='480', height='300', src='img/jungling.jpg')
      .span5.copy.drop-shadow.lifted
        :markdown
           First of all, you should glance around my [web projects](/projects "projects").
           Each of them tend to run from within the browser, though
           you'd need up-to-date GPU drivers and WebGL support.
    .row-fluid.section2
      .span5.offset1.copy.drop-shadow.lifted
        :markdown
           If you enjoyed the experience and want to know more about me,
           browse my [about](/about "about")
           page. As I'm quite of a traveller,
           I'll try to keep my location up to date.
      .span5.asset
        img.img-polaroid(width='480', height='300', src='img/tricks.jpg')
    .row-fluid.section3
      .span5.offset1.asset
        img.img-polaroid(width='480', height='300', src='img/postman.jpg')
      .span5.copy.drop-shadow.lifted
        :markdown
           Job recruiter or hacker,
           do not hesitate to get in touch with me:
           you'll find all the required informations
           in the [contact](/contact "contact") page.
           Perhaps you'd also like to glance at my
           [work experiences](/work "work").
