extends layout

block content
  Beyond this part the marketing copy begins.
    //
       https://developer.mozilla.org/en-US/docs/Web/CSS/text-align
    //
       http://twitter.github.io/bootstrap/base-css.html#images
    //
       http://placehold.it
    .row-fluid.section1
      .span5.offset1.asset
        img.img-polaroid(width='480', height='300', src='img/jungling.jpg')
      .span5.copy.drop-shadow.lifted
        p
          | First of all, you should glance around my
          a(href='/projects') web projects
          | .
          | Each of them tend to run from within the browser, though
          | you'd need up-to-date GPU drivers and WebGL support.
    .row-fluid.section2
      .span5.offset1.copy.drop-shadow.lifted
        p
          | If you enjoyed the experience and want to know more about me,
          | browse my
          a(href='/about') about
          | page. As I'm quite of a traveller,
          | I'll try to keep my location up to date.
      .span5.asset
        img.img-polaroid(width='480', height='300', src='img/tricks.jpg')
    .row-fluid.section3
      .span5.offset1.asset
        img.img-polaroid(width='480', height='300', src='img/postman.jpg')
      .span5.copy.drop-shadow.lifted
        p
          | Job recruiter or hacker,
          | do not hesitate to get in touch with me:
          | you'll find all the required informations in the
          a(href='/contact') contact
          | page.
          | Perhaps you'd also like to glance at my
          a(href='/work') work experiences
          | .
    //
       <\!-- Not crucial, but we put this under a CC By-SA 3.0 license. -\->
    //
       <\!-- http://creativecommons.org/licenses/ -\->
    //
       <div class="row-fluid footer">
    //
         <div class="span12">
    //
           <p>This work is licensed under
    //
             the <a href="http://creativecommons.org/licenses/by-sa/3.0/">CC
    //
               By-SA 3.0
    //
             </a>, without all the cruft that would otherwise be
    //
             put at the bottom of the page.</p>
    //
         </div>
    //
       </div>
  script
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-42929181-2', 'chezjacking.tk');
    ga('send', 'pageview');
