extends layout

block content
  .row-fluid.section1
    .span5.offset1.asset
      img.img-polaroid(width='480', height='300', src='img/jungling.jpg')
    .span5.copy.drop-shadow.lifted
      :markdown
         First of all, you should glance around my [web projects](/projects "projects").
         Each of them tend to run from within the browser, though
         you'd need up-to-date GPU drivers and WebGL support.

         Alternatively, you can browse more of my code there:

      .offset4.span4
        a.social(href='https://github.com/jackokaiser')
          img(src='img/github.png', width='35', alt='github')
        a.social(href='http://jsfiddle.net/user/jackokaiser/fiddles/')
          img(src='img/jsfiddle.jpg', width='35', alt='jsfiddle')


  .row-fluid.section2
    .span5.offset1.copy.drop-shadow.lifted
      :markdown
        If you enjoyed the experience and want to know more about me,
        browse my [about](/about "about") page.

        I'm quite of a traveler, and since
        the beginning of my trip to Australia I started a diary
        that you can check out on the [Australia](/australia "australia") page.

    .span5.asset
      img.img-polaroid(width='480', height='300', src='img/tricks.jpg')

  .row-fluid.section3
    .span5.offset1.asset
      img.img-polaroid(width='480', height='300', src='img/postman.jpg')
    .span5.copy.drop-shadow.lifted
      :markdown
        Job recruiter or hacker,
        do not hesitate to get in touch with me:
        you'll find all the required informations
        in the [contact](/contact "contact") page, along with my
        [resume](/img/cv.pdf "resume").

        Perhaps you'd also like to glance at my
        [work experiences](/work "work").
        They are described more thoroughly and accompanied
        with recommendation letters on my linkedin page:


      .span3.offset2
      a.social(href='http://www.linkedin.com/profile/view?id=97265989&locale=en_US')
        img(src='img/linkedin.png', width='35', alt='linkedin')
