extends layout

block link
  -var selected="Projects"

block content
  .row-fluid.section1
    .span10.offset1.copy.drop-shadow.raised
      .centered
        p
          strong
            a.cross-link(href='/raytracer')
              | Raytracer
          | - 2013
      .row-fluid
        .span12
          iframe(frameborder='0', height='500px', width='100%', allowfullscreen='allowFullScreen', webkitallowfullscreen='true', mozallowfullscreen='true', src="/raytracerEmbed")
      .row-fluid
        .copy.span12
        :markdown
           I implemented a small raytracer.
           It is a standalone that I coded from scratch,
           which supports spheres and cones.
           I haven't put quite as much work as I did for the one I've
           coded for [Skimlab](http://skimlab.com "Skimlab"), but still.

           This one involves shadows, one level reflection,
           and perlin noise to compute spheres' color.
           It is running in real-time on my laptop.
        .centered
           a.btn.primary-btn.btn-large(href="/raytracer")
              | go fullscreen
  .row-fluid.section2
    .span10.offset1.copy.drop-shadow.raised
      .centered
        p
          strong
            a.cross-link(href='http://www.handy-sketch.tk') Bitcoin crowdfounder
          | - 2013
      .copy.span5
        :markdown
           I took the Startup engineering class on Coursera.
           The final projects was a bitcoin based crowdfounding website,
           in order to found our own apps.

           This class got me interested into startup and web technologies,
           a field in which I was a complete neophyte.
           Fortunately, as I was doing my internship at
           [Skimlab](http://skimlab.com "Skimlab") in the meantime,
           I had perfect insights on what I was being taught.
      .span5.copy.offset1
        a.cross-link(href='http://www.handy-sketch.tk')
          img.img-polaroid(width='70%', height='50%', src='img/handySketch.png')
