extends layout

block link
  -var selected="Projects"

block content
  .row-fluid.section1
    .span10.offset1.copy.drop-shadow.raised
      .centered
        p
          strong
            a.cross-link(href='/raytracer')
              | Raytracer
          | - 2013
      .copy.span5
        p
          | I implemented a small raytracer. It is a standalone that I coded from scratch,
          | which supports spheres and cones. I haven't put quite as much work as I did for the one I've
          | coded for Skimlab, but still.
      .span5.copy.offset1
        a.cross-link(href='raytracer')
          img.img-polaroid(width='100%', height='100%', src='img/orgaAllGood.png')
  .row-fluid.section2
    .span10.offset1.copy.drop-shadow.raised
      .centered
        p
          strong
            a.cross-link(href='http://www.handy-sketch.tk') Bitcoin crowdfounder
          | - 2013
      .copy.span5
        p
          | I'm following the Startup engineering class on Coursera.
          | The final projects is a bitcoin based crowdfounding website, in order to
          | found our own apps.
      .span5.copy.offset1
        a.cross-link(href='http://www.handy-sketch.tk')
          img.img-polaroid(width='70%', height='50%', src='img/handySketch.png')
