extends layout

block content
  .row-fluid.section1
    .span10.offset1.copy.drop-shadow.raised
      .centered
        p
          strong Skimlab
          | - 2013
      .row-fluid
        .asset-iframe
          iframe(frameborder='0', height='56.25%', width='100%', allowfullscreen='allowFullScreen', webkitallowfullscreen='true', mozallowfullscreen='true', src='http://www.skimlab.com/embed/agpzfnNraW1sYWJzcgwLEgRGaWxlGPmBHAw')
      .row-fluid
        .copy
          p
            | Skimlab is a brand new startup. The business model is to provide an easy online tool for modeling 3D objects which relies on implicit surface.
            | It is possible to purchase such designed objects, a 3D printed instance will be shipped. The startup also created Skimring, an equivalent to Skimlab for designing and purchasing jewelry.
            | I worked on WebGL shader development to enhance and speed up rendering. It involved good knowledge of JavaScript, Three.js, glsl and WebGL.
          p.note Reference - Maxime Quiblier
  .row-fluid.section2
    .span10.offset1.copy.drop-shadow.raised
      .centered
        p
          strong iCube
          | - 2012
      .copy.span5
        p
          | Development of an application for mesh deformation on a virtual reality platform. In order
          | to be realtime, it has been built upon
          a(href='http://cgogn.unistra.fr/') CGoGN
          | , a powerful library that provides an efficient
          | implementation of combinatorial maps, maintained by the iCube laboratory. The application
          | worked through a
          | 3D cursor
          | , the avatar of the user.
        p.note Reference - Jérôme Grosjean
      .span5.copy.offset1
        img.img-polaroid(width='100%', height='100%', src='img/wirePatch.png')
  .row-fluid.section3
    .span10.offset1.copy.drop-shadow.raised
      .centered
        p
          strong iCube
          | - 2011
      .span5.copy
        img.img-polaroid(width='100%', height='100%', src='img/lastSphere.png')
      .copy.span5.offset1
        p
          | Customizing interactive 3D cursors in order to solve positioning issue in virtual environments,
          | which has been used in the mesh deformation app. The positioning issue refers to the fact
          | that, desptite the improvments of 3D technologies, it remains hard to guess relative depth
          | of objects in space. I implemented solutions where the cursor gives hints on its position by
          | scaling and orienting itself toward the closest object in space. We tryed out many different
          | shapes and updating methods.
        p.note Reference - Jérôme Grosjean
