@import url("http://fonts.googleapis.com/css?family=Jacques\+Francois");


body
  background-color : #ffffff
  font-family: 'Jacques Francois', serif


row-fluid
  padding : 20%

h1
  font-size : 800%
  width : 800%
  height : auto
  margin-top : 30%
  margin-bottom : 20%

h2
  font-size : 500%
  width : 800%
  height : auto
  margin-top : 20%
