body
  color: #ffffff;
  font-family:Monospace;
  font-size:15px;
  text-align:center;
  font-weight: bold;
  background-color: #000000;
  margin: 0px;
  overflow: hidden;

a
  color : #ffffff

#info
  position : absolute
  top : 0px
  width : 100%
  padding : 5px
  display : none
  z-index : 1

#container
  position : absolute
  top : 0px
  bottom : 0px
  left : 0px
  right : 0px
  margin : 0px
  cursor : pointer
  background-color : #000000

#play-icon
  position : absolute
  top : 0
  bottom : 0
  left : 0
  right : 0
  margin : auto
  cursor : pointer
